.FeedBackRecord{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
}

.FeedbackImage{
    border-radius: 100px;
    border: 4px double #00662a;
    width: 150px;
    height: 150px;
}
.FeedbackImage:hover{
    border: 4px solid #00662a;
}
.FeedbackImage_choosed{
    border: 4px solid #00662a;
    transform: scale(1.1,1.1);
}

.FeedbackText{
    margin: 0px;
    padding: 0px;
    text-align: center;
}