<div id="belous_block">
    <img id="belous_photo" src="images/belous_st.jpg" alt="">
</div>
<h3 style="text-align:center;">
    Обращение благочинного
</h3>
<p>Дорогие братия и сестры, добро пожаловать на официальный сайт нашего благочиния. Здесь
    собирается информация о храмах со всего Осиповичского района.
    На страничке можно найти как историю возникновения каждого прихода, так и новости о его жизни на сегодняшний день.
    Можно посмотреть время совершения богослужений в разделе "Расписания".
    Пусть эта страничка станет надежным источником для тех, кто хочет знать больше о жизни Православной Церкви в
    Осиповичском районе
</p>
<p>
    С уважением,
    протоиерей Василий Белоус
</p>