<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <meta name="keywords" content="осиповичи православие благочиние церковь храм">
    {Other_Attributes}    
    <title>{Title}</title>
    

    <link rel="shortcut icon" href="images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="css/MainPageStyle.css">
    <link rel="stylesheet" href="css/News.css">
    {Stylesheets_Addings}

    <script type="text/javascript" src="js/Constants.js"></script>
    <script type="text/javascript" src="js/MainFunctions.js"></script>
    {JS_Modules_Addings}
    <script>
        function OnLoad()
        {
            PrepareForMobile();
            {JS_OnLoad_Addings}
        }
        document.addEventListener('DOMContentLoaded',OnLoad);
    </script>
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter43982544 = new Ya.Metrika({
                    id:43982544,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/43982544" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->



<div class="header">
    <div class="Icon left">
        <div id="CrossDiv"></div>
    </div>
    <div class="Menu right">
        <a id="OpenMenu" class="MenuButton" href="javascript: void(0); ">Меню</a>
        <ul id=MenuSet>
            <a class="MenuButton" href="index.php">Главная</a>
            <a class="MenuButton" href="ChurchesInfo.php">Храмы</a>
            <a class="MenuButton" href="ChurchesTimetable.php">Расписания</a>
            <a class="MenuButton" href="Gallery.php">Фотоальбом</a>
        </ul>
    </div>
</div>
<!--Начинаем содержание-->

<div id="LeftContentID" class="ContentLeft ContentBlock left">
    {Left_Content}
</div>
<div class="Present ContentBlock right">
    <div id="PresentImageDiv" class="left">
    </div>
    <div id="PresentWords" class="right">
        Московский патриархат<br>
        Белорусский экзархат<br>
        Бобруйская епархия<br>
        <h1>Осиповичское благочиние</h1>
    </div>
</div>

<div id="MainContentID" class="MainContent ContentBlock right">
    {MainContent}
</div>

</body>
</html>