@font-face {
    font-family: HeaderFont;
    src: url('../fonts/IceFont.ttf');
}

body{
    background-image: url("../images/backgroundMainAdminPage.jpg");
    background-size: cover;
    background-position: 0px 30%;
}

.ContentField{
    width: 270px;
    height: 66vh;
    padding: 5vh 15px 5vh 15px;
    margin: 10vh 0px 10vh 10vh;
    background-color: #c0835d;
    border: 2vh inset #3B1413;
    box-shadow: 15px 15px 10px 0px #1b0000;
}

.ContentField>h2{
    color: #650000;
    text-align: center;
    font-family: HeaderFont;
}

.PageButtons {
    width: 80%;
    margin: 5px 10% 5px 10%;
    height: 40px;
    font-family: HeaderFont;
    background-color: transparent;
}
.PageButtons:hover, .ButtonsWithId:hover{
    margin-top: 8px;
    border: none;
    border-bottom: 6px inset #650000;
}

.ButtonsWithId{
    width: 55%;
    margin: 5px 2% 5px 10%;
    height: 40px;
    float: left;
    font-family: HeaderFont;
    background-color: transparent;
}

.PageInputs{
    width: 20%;
    margin: 5px 10% 5px 0px;
    float: right;
    height: 30px;
    font-size: 20px;
}

#ExitBtn{
    width: 80%;
    margin: 5px 10% 5px 10%;
    height: 40px;
    font-size: 25px;
    font-family: HeaderFont;
    background-color: transparent;
    border: none;
    border-bottom: 6px outset #650000;
}
#ExitBtn:hover{
    margin-top: 8px;
    border: none;
    border-bottom: 6px inset #650000;
}